In [1]:
import pandas as pd

In [2]:
from sklearn.tree import DecisionTreeClassifier

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
data=pd.read_csv("car.csv")

In [5]:
data.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [6]:
data.shape

(1727, 7)

In [14]:
data['vhigh'],_ = pd.factorize(data['vhigh'])

In [13]:
print(data.columns)

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low', 'unacc'], dtype='object')

In [15]:
data['vhigh.1'],_ = pd.factorize(data['vhigh.1'])

In [16]:
data['small'],_ = pd.factorize(data['small'])
data['low'],_ = pd.factorize(data['low'])
data['unacc'],_ = pd.factorize(data['unacc'])

In [17]:
data.head()

   vhigh  vhigh.1  2 2.1  small  low  unacc
0      0        0  2   2      0    0      0
1      0        0  2   2      0    1      0
2      0        0  2   2      1    2      0
3      0        0  2   2      1    0      0
4      0        0  2   2      1    1      0

In [26]:
x=data.iloc[:,1:6]

In [27]:
x.shape

(1727, 5)

In [28]:
y=data.iloc[:,6]

In [34]:
y.shape

(1727,)

In [30]:
x.head()

   vhigh.1  2 2.1  small  low
0        0  2   2      0    0
1        0  2   2      0    1
2        0  2   2      1    2
3        0  2   2      1    0
4        0  2   2      1    1

In [31]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: unacc, dtype: int64

In [32]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

In [33]:
car_classifier = DecisionTreeClassifier(random_state=0)